extend _template

block vars
  - title = 'xxx'
  - description = 'xxx'
  - keywords = 'xxx'
  - img = 'http://localhost:3000/assets/images/share/ogp.jpg'
  - url = 'http://localhost:3000'

block main
  div(data-module='dummy') Click me!
